.page__title {
  width: 144px;
  height: 44px;
  font-size: 36px;
  font-weight: bold;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  /* 中身を全部縦並び */
  align-items: center;
  /* 左揃え（中央にしたいなら center） */
}

.entry__name {
  width: 680px;
  font-size: 18px;
  text-align: left;
      /* ラベルだけ左揃え */
  margin-top: 30px;
  margin-bottom: 3px;
  /* ラベルと入力欄の間に余白 */
  font-weight: bold;
  /* 見やすくするために太字 */
}

.input {
  width: 680px;
  height: 45px;
  padding: 0 10px;
  /* 左右に少し余白を入れると見やすい */
  font-size: 16px;
  /* 中身の文字サイズも調整するとバランス良い */
  box-sizing: border-box;
  /* padding込みで指定サイズになる */
}

.btn--big {
  width: 680px;
  height: 45px;
  font-size: 16px;
  background-color: #000000;
  /* ボタン色は好みで */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 45px;
  margin-bottom: 15px;
}

.link {
  display: block;
  width: 257px;
  height: 49px;
  line-height: 49px;
  text-align: center;
}